{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "689f3928b5dee013c4afd923" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <main class="main-wrapper">
      <header class="section_header7 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="header7_content">
              <div class="padding-section-large">
                <div class="max-width-medium">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1"><strong>{{ 't64c76a5d' | t }}</strong></h1>
                  </div>
                  <p class="text-size-medium">{{ 'tn555380da' | t }}</p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="#" class="button-4 is-alternate w-button">{{ 't77471352' | t }}</a>
                      <a href="#" class="button-4 is-secondary is-alternate w-button">{{ 't77471352' | t }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header7_background-video-wrapper">
          <div class="video-overlay-layer"></div>
          <div data-poster-url="{{ 'videobkdp-poster-00001.jpg' | asset_url }}" data-video-urls="videos/videobkdp-transcode.mp4,videos/videobkdp-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false" class="header7_background-video w-background-video w-background-video-atom"><video id="e1cdb462-25ee-9688-4f47-edae4c3a0a13-video" autoplay="" loop="" style="background-image:url(&quot;videos/videobkdp-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
              <source src="{{ 'videobkdp-transcode.mp4' | asset_url }}" data-wf-ignore="true">
              <source src="{{ 'videobkdp-transcode.webm' | asset_url }}" data-wf-ignore="true">
            </video></div>
        </div>
      </header>
      <header class="section_header1 color-scheme-5">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header1_component">
                <div class="w-layout-grid header1_content">
                  <div class="header1_content-left">
                    <div class="margin-bottom margin-small">
                      <h1 class="heading-style-h1">{{ 'tn747defa3' | t }}</h1>
                    </div>
                    <p class="text-size-medium text-color-black">{{ 't27fde2c' | t }}<strong>{{ 't436edb24' | t }}</strong>{{ 't1f0b149' | t }}<strong>{{ 'tn4fe3081b' | t }}</strong>{{ 't1361312a' | t }}</p>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="#" class="button w-button">{{ 'tn52bd880f' | t }}</a>
                        <a href="#" class="button is-secondary is-alternate w-button">{{ 'tn204ff822' | t }}</a>
                      </div>
                    </div>
                  </div>
                  <div class="header1_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'paul_tvd_aig-p-500.jpg' | asset_url }} 500w, {{ 'paul_tvd_aig-p-800.jpg' | asset_url }} 800w, {{ 'paul_tvd_aig.jpg' | asset_url }} 1024w" alt="" src="{{ 'paul_tvd_aig.jpg' | asset_url }}" loading="eager" class="header1_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="section_header37">
        <div class="w-layout-grid header37_component">
          <div class="header37_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'moose_pppp-p-500.jpeg' | asset_url }} 500w, {{ 'moose_pppp-p-800.jpeg' | asset_url }} 800w, {{ 'moose_pppp.jpeg' | asset_url }} 1024w" alt="" src="{{ 'moose_pppp.jpeg' | asset_url }}" loading="eager" class="header37_image"></div>
          <div id="w-node-_7d347801-cb40-255c-9b75-e8d8c86a2764-c4afd923" class="header37_content">
            <div class="margin-bottom margin-small"><img src="{{ 'aigentique-text.svg' | asset_url }}" loading="lazy" alt="">
              <h1 class="heading-style-h5">{{ 't2392181d' | t }}</h1>
            </div>
            <p class="text-size-small">{{ 'tn163341e6' | t }}<br></p>
            <ul role="list">
              <li class="text-size-small"><strong>{{ 't423ed37f' | t }}</strong>{{ 'tn52273386' | t }}</li>
              <li class="text-size-small"><strong>{{ 'tn5d705a77' | t }}</strong>{{ 't606f9442' | t }}</li>
            </ul>
            <div class="margin-top margin-medium">
              <div class="button-group">
                <a href="#" class="button w-button">{{ 't4ef7574e' | t }}</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="section_header36">
        <div class="w-layout-grid header36_component">
          <div id="w-node-_74255696-5ae4-eb55-5176-911cf8e2d329-c4afd923" class="header36_content">
            <div class="margin-bottom margin-small"><img src="{{ 'tvd-logo-text.svg' | asset_url }}" loading="lazy" alt="">
              <h1 class="heading-style-h5">{{ 'tn4067fe62' | t }}</h1>
            </div>
            <p class="text-size-small">{{ 'tn57b5890f' | t }}</p>
            <div class="margin-top margin-medium">
              <div class="button-group">
                <a href="#" class="button w-button">{{ 't4ef7574e' | t }}</a>
              </div>
            </div>
          </div>
          <div class="header36_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'our-products-p-500.jpg' | asset_url }} 500w, {{ 'our-products-p-800.jpg' | asset_url }} 800w, {{ 'our-products.jpg' | asset_url }} 1024w" alt="" src="{{ 'our-products.jpg' | asset_url }}" loading="eager" class="header36_image"></div>
        </div>
      </header>
      <section class="section_layout424 color-scheme-4">
        <div class="padding-global">
          <div class="container-large">
            <div class="layout424_component">
              <div class="layout424_content">
                <div class="text-align-center">
                  <div class="margin-bottom margin-xsmall">
                    <div class="text-style-tagline text-color-white">{{ 't3cb569cf' | t }}</div>
                  </div>
                  <div class="layout424_heading-list text-color-white">
                    <h2 class="layout424_heading heading-1">{{ 'tn16a69f1' | t }}</h2>
                    <h2 class="layout424_heading heading-2">{{ 't5f8d8c2a' | t }}</h2>
                    <h2 class="layout424_heading heading-3">{{ 'tn3cdfc5d1' | t }}</h2>
                    <h2 class="layout424_heading heading-4">{{ 't7dbdf9ab' | t }}</h2>
                  </div>
                </div>
              </div>
              <div data-w-id="727ad787-9382-16b1-ef63-c6a1724fa15e" class="layout424_ix-trigger"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout410 color-scheme-4">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="margin-bottom margin-xxlarge">
                <div class="text-align-center">
                  <div class="max-width-large align-center">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline text-color-black">{{ 't436edb24' | t }}</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 text-color-black">{{ 'tn19d87aeb' | t }}</h2>
                    </div>
                    <p class="text-size-medium text-color-black">{{ 't232bc423' | t }}<strong>{{ 'tn35643881' | t }}</strong>{{ 't574' | t }}<strong>{{ 't2ff584' | t }}</strong>{{ 't574' | t }}<strong>{{ 'ta82' | t }}</strong>{{ 't4d05ec9d' | t }}<strong>{{ 't636ee25' | t }}</strong>{{ 't2e' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="w-layout-grid layout410_component">
                <div class="layout410_card card-1">
                  <div id="w-node-_05ac5506-09f0-e33d-e991-60ce67587346-c4afd923" class="layout410_image-wrapper"><img sizes="(max-width: 1121px) 100vw, 1121px" srcset="{{ 'level_crossing-p-500.jpg' | asset_url }} 500w, {{ 'level_crossing-p-800.jpg' | asset_url }} 800w, {{ 'level_crossing-p-1080.jpg' | asset_url }} 1080w, {{ 'level_crossing.jpg' | asset_url }} 1121w" alt="" src="{{ 'level_crossing.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn27aa58ab' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't75cf5e7d' | t }}</h3>
                      </div>
                      <p>{{ 't5d91d33f' | t }}<em>{{ 'tn45b6b1ea' | t }}</em>{{ 'tn1d5c7147' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-2">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn27aa58ab' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't4c0e00d1' | t }}</h3>
                      </div>
                      <p>{{ 'tn56fefe3f' | t }}</p>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img alt="" src="{{ 'apple_garage_1.webp' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
                <div class="layout410_card card-3">
                  <div id="w-node-_05ac5506-09f0-e33d-e991-60ce67587370-c4afd923" class="layout410_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'aig_sports-p-500.jpg' | asset_url }} 500w, {{ 'aig_sports-p-800.jpg' | asset_url }} 800w, {{ 'aig_sports.jpg' | asset_url }} 1024w" alt="" src="{{ 'aig_sports.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn6bff4c61' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn2ad61329' | t }}</h3>
                      </div>
                      <p>{{ 'tn470e1fd0' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-4">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn6bff4c61' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't59a1ffb1' | t }}</h3>
                      </div>
                      <p>{{ 't9e91852' | t }}</p>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img sizes="(max-width: 1008px) 100vw, 1008px" srcset="{{ 'sportsnews-p-500.png' | asset_url }} 500w, {{ 'sportsnews-p-800.png' | asset_url }} 800w, {{ 'sportsnews.png' | asset_url }} 1008w" alt="" src="{{ 'sportsnews.png' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout410b color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="margin-bottom margin-xxlarge">
                <div class="text-align-center">
                  <div class="max-width-large align-center">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline">{{ 'tn4fe3081b' | t }}</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">{{ 'tn67cf5e38' | t }}<br>{{ 'tn4e49db9a' | t }}</h2>
                    </div>
                    <p class="text-size-medium">{{ 't1149d184' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="w-layout-grid layout410_component">
                <div class="layout410_card card-1">
                  <div id="w-node-_0bad01ab-6afd-436a-8444-241dad9d5f3b-c4afd923" class="layout410_image-wrapper"><img sizes="(max-width: 1536px) 100vw, 1536px" srcset="{{ 'dtc-p-500.jpg' | asset_url }} 500w, {{ 'dtc-p-800.jpg' | asset_url }} 800w, {{ 'dtc-p-1080.jpg' | asset_url }} 1080w, {{ 'dtc.jpg' | asset_url }} 1536w" alt="" src="{{ 'dtc.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'td501959' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't6af67846' | t }}</h3>
                      </div>
                      <p>{{ 'tn4900cac0' | t }}<strong>{{ 'tn6a623f27' | t }}</strong>{{ 't574' | t }}<strong>{{ 't7044a062' | t }}</strong>{{ 't4d05ec9d' | t }}<strong>{{ 't61603c5c' | t }}</strong>{{ 'tb69bfcd' | t }}</p>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="{{ pages["digital-twin-cities"].url }}" class="button is-link is-icon w-inline-block">
                          <div>{{ 'tn52bd880f' | t }}</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                            </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-2">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 't13deb6e8' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't323e340b' | t }}</h3>
                      </div>
                      <p>{{ 'tn525f4b24' | t }}</p>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="{{ pages["immersive-metaverses"].url }}" class="button is-link is-icon w-inline-block">
                          <div>{{ 'tn52bd880f' | t }}</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                            </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img sizes="(max-width: 1536px) 100vw, 1536px" srcset="{{ 'metaverse_1-p-500.jpg' | asset_url }} 500w, {{ 'metaverse_1-p-800.jpg' | asset_url }} 800w, {{ 'metaverse_1-p-1080.jpg' | asset_url }} 1080w, {{ 'metaverse_1.jpg' | asset_url }} 1536w" alt="" src="{{ 'metaverse_1.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
                <div class="layout410_card card-3">
                  <div id="w-node-_0bad01ab-6afd-436a-8444-241dad9d5f65-c4afd923" class="layout410_image-wrapper"><img sizes="(max-width: 1536px) 100vw, 1536px" srcset="{{ 'cai-p-500.jpg' | asset_url }} 500w, {{ 'cai-p-800.jpg' | asset_url }} 800w, {{ 'cai-p-1080.jpg' | asset_url }} 1080w, {{ 'cai.jpg' | asset_url }} 1536w" alt="" src="{{ 'cai.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 't47c34c9b' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn2cebcc6' | t }}</h3>
                      </div>
                      <p>{{ 'tn4015e19a' | t }}</p>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="{{ pages["conversational-ai-characters"].url }}" class="button is-link is-icon w-inline-block">
                          <div>{{ 'tn52bd880f' | t }}</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                            </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-4">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline"><strong>{{ 't302e21a7' | t }}</strong></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 't162bbaf' | t }}</h3>
                      </div>
                      <p>{{ 't52826fa6' | t }}</p>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img sizes="(max-width: 1536px) 100vw, 1536px" srcset="{{ 'a580c7de7cd836f3f7d8f0ae358ef070c0122a196911b20f6d38f4a9ce527b47-p-500.jpg' | asset_url }} 500w, {{ 'a580c7de7cd836f3f7d8f0ae358ef070c0122a196911b20f6d38f4a9ce527b47-p-800.jpg' | asset_url }} 800w, {{ 'a580c7de7cd836f3f7d8f0ae358ef070c0122a196911b20f6d38f4a9ce527b47-p-1080.jpg' | asset_url }} 1080w, {{ 'a580c7de7cd836f3f7d8f0ae358ef070c0122a196911b20f6d38f4a9ce527b47.jpg' | asset_url }} 1536w" alt="" src="{{ 'a580c7de7cd836f3f7d8f0ae358ef070c0122a196911b20f6d38f4a9ce527b47.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout204 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout204_component">
                <div class="w-layout-grid layout204_content">
                  <div class="layout204_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'bio-p-500.png' | asset_url }} 500w, {{ 'bio-p-800.png' | asset_url }} 800w, {{ 'bio.png' | asset_url }} 1024w" alt="" src="{{ 'bio.png' | asset_url }}" loading="lazy" class="layout204_image"></div>
                  <div id="w-node-_89f6dc8b-6232-d15a-ab3f-86c10cf376b3-c4afd923" class="layout204_content-right">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline">{{ 'tn5d0f16fa' | t }}</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">{{ 'tn21dc6f59' | t }}</h2>
                    </div>
                    <div class="margin-bottom margin-small">
                      <p class="text-size-medium">{{ 'tn3d5a22e8' | t }}</p>
                    </div>
                    <h5 class="heading-style-h5">{{ 't548091f2' | t }}</h5>
                    <div class="social-h-list">
                      <a href="#" class="social-hlist-link w-inline-block">
                        <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 3C3.67157 3 3 3.67157 3 4.5V19.5C3 20.3284 3.67157 21 4.5 21H19.5C20.3284 21 21 20.3284 21 19.5V4.5C21 3.67157 20.3284 3 19.5 3H4.5ZM8.52076 7.00272C8.52639 7.95897 7.81061 8.54819 6.96123 8.54397C6.16107 8.53975 5.46357 7.90272 5.46779 7.00413C5.47201 6.15897 6.13998 5.47975 7.00764 5.49944C7.88795 5.51913 8.52639 6.1646 8.52076 7.00272ZM12.2797 9.76176H9.75971H9.7583V18.3216H12.4217V18.1219C12.4217 17.742 12.4214 17.362 12.4211 16.9819V16.9818V16.9816V16.9815V16.9812C12.4203 15.9674 12.4194 14.9532 12.4246 13.9397C12.426 13.6936 12.4372 13.4377 12.5005 13.2028C12.7381 12.3253 13.5271 11.7586 14.4074 11.8979C14.9727 11.9864 15.3467 12.3141 15.5042 12.8471C15.6013 13.1803 15.6449 13.5389 15.6491 13.8863C15.6605 14.9339 15.6589 15.9815 15.6573 17.0292V17.0294C15.6567 17.3992 15.6561 17.769 15.6561 18.1388V18.3202H18.328V18.1149C18.328 17.6629 18.3278 17.211 18.3275 16.7591V16.759V16.7588C18.327 15.6293 18.3264 14.5001 18.3294 13.3702C18.3308 12.8597 18.276 12.3563 18.1508 11.8627C17.9638 11.1286 17.5771 10.5211 16.9485 10.0824C16.5027 9.77019 16.0133 9.5691 15.4663 9.5466C15.404 9.54401 15.3412 9.54062 15.2781 9.53721L15.2781 9.53721L15.2781 9.53721C14.9984 9.52209 14.7141 9.50673 14.4467 9.56066C13.6817 9.71394 13.0096 10.0641 12.5019 10.6814C12.4429 10.7522 12.3852 10.8241 12.2991 10.9314L12.2991 10.9315L12.2797 10.9557V9.76176ZM5.68164 18.3244H8.33242V9.76733H5.68164V18.3244Z" fill="CurrentColor"></path>
                          </svg></div>
                        <div>{{ 't4b0ff13e' | t }}</div>
                      </a>
                      <a href="#" class="social-hlist-link w-inline-block">
                        <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 12.0611C22 6.50451 17.5229 2 12 2C6.47715 2 2 6.50451 2 12.0611C2 17.0828 5.65684 21.2452 10.4375 22V14.9694H7.89844V12.0611H10.4375V9.84452C10.4375 7.32296 11.9305 5.93012 14.2146 5.93012C15.3088 5.93012 16.4531 6.12663 16.4531 6.12663V8.60261H15.1922C13.95 8.60261 13.5625 9.37822 13.5625 10.1739V12.0611H16.3359L15.8926 14.9694H13.5625V22C18.3432 21.2452 22 17.083 22 12.0611Z" fill="CurrentColor"></path>
                          </svg></div>
                        <div>{{ 't217bfee6' | t }}</div>
                      </a>
                      <a href="#" class="social-hlist-link w-inline-block">
                        <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z" fill="CurrentColor"></path>
                          </svg></div>
                        <div>{{ 't792b2792' | t }}</div>
                      </a>
                      <a href="#" class="social-hlist-link w-inline-block">
                        <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.1761 4H19.9362L13.9061 10.7774L21 20H15.4456L11.0951 14.4066L6.11723 20H3.35544L9.80517 12.7508L3 4H8.69545L12.6279 9.11262L17.1761 4ZM16.2073 18.3754H17.7368L7.86441 5.53928H6.2232L16.2073 18.3754Z" fill="CurrentColor"></path>
                          </svg></div>
                        <div>{{ 't58' | t }}</div>
                      </a>
                      <a href="#" class="social-hlist-link w-inline-block">
                        <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5686 4.77345C21.5163 5.02692 22.2555 5.76903 22.5118 6.71673C23.1821 9.42042 23.1385 14.5321 22.5259 17.278C22.2724 18.2257 21.5303 18.965 20.5826 19.2213C17.9071 19.8831 5.92356 19.8015 3.40294 19.2213C2.45524 18.9678 1.71595 18.2257 1.45966 17.278C0.827391 14.7011 0.871044 9.25144 1.44558 6.73081C1.69905 5.78311 2.44116 5.04382 3.38886 4.78753C6.96561 4.0412 19.2956 4.282 20.5686 4.77345ZM9.86682 8.70227L15.6122 11.9974L9.86682 15.2925V8.70227Z" fill="CurrentColor"></path>
                          </svg></div>
                        <div>{{ 't280d3723' | t }}</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_blog45 color-scheme-1">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="blog45_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 't1fa3c2' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 't1f83b921' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 'tn37d63912' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="blog45_list-wrapper">
                  <div class="w-layout-grid blog45_list">
                    <div class="blog45_item">
                      <a href="#" class="blog45_item-link w-inline-block">
                        <div class="margin-bottom margin-small">
                          <div class="blog45_image-wrapper"><img sizes="(max-width: 2000px) 100vw, 2000px" srcset="{{ 'default-40-p-500.jpeg' | asset_url }} 500w, {{ 'default-40-p-800.jpeg' | asset_url }} 800w, {{ 'default-40-p-1080.jpeg' | asset_url }} 1080w, {{ 'default-40-p-1600.jpeg' | asset_url }} 1600w, {{ 'default-40.jpeg' | asset_url }} 2000w" alt="" src="{{ 'default-40.jpeg' | asset_url }}" loading="eager" class="blog45_image"></div>
                        </div>
                        <div class="margin-bottom margin-xxsmall">
                          <div class="tag is-text">{{ 'tn4028fe7b' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-xxsmall">
                          <h3 class="heading-style-h5">{{ 'tn400d6b27' | t }}</h3>
                        </div>
                        <div class="text-size-regular">{{ 'tn54b91d9f' | t }}</div>
                        <div class="margin-top margin-small">
                          <div class="blog45_author-wrapper">
                            <div class="blog45_author-image-wrapper"><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="{{ 'team-3-p-500.jpeg' | asset_url }} 500w, {{ 'team-3-p-800.jpeg' | asset_url }} 800w, {{ 'team-3-p-1080.jpeg' | asset_url }} 1080w, {{ 'team-3.jpeg' | asset_url }} 1600w" alt="" src="{{ 'team-3.jpeg' | asset_url }}" loading="eager" class="blog45_author-image"></div>
                            <div class="blog45_author-text">
                              <div class="text-size-small">{{ 'tn517fa35b' | t }}</div>
                              <div class="blog45_date-wrapper">
                                <div class="text-size-small">{{ 'tn65ba5c79' | t }}</div>
                                <div class="blog45_text-divider">{{ 't2022' | t }}</div>
                                <div class="text-size-small">{{ 'tn3941edd1' | t }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog45_item">
                      <a href="#" class="blog45_item-link w-inline-block">
                        <div class="margin-bottom margin-small">
                          <div class="blog45_image-wrapper"><img sizes="(max-width: 2000px) 100vw, 2000px" srcset="{{ 'default-46-p-500.jpeg' | asset_url }} 500w, {{ 'default-46-p-800.jpeg' | asset_url }} 800w, {{ 'default-46-p-1080.jpeg' | asset_url }} 1080w, {{ 'default-46-p-1600.jpeg' | asset_url }} 1600w, {{ 'default-46.jpeg' | asset_url }} 2000w" alt="" src="{{ 'default-46.jpeg' | asset_url }}" loading="eager" class="blog45_image"></div>
                        </div>
                        <div class="margin-bottom margin-xxsmall">
                          <div class="tag is-text">{{ 't12b9612c' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-xxsmall">
                          <h3 class="heading-style-h5">{{ 'tn6ab1c8d0' | t }}</h3>
                        </div>
                        <div class="text-size-regular">{{ 't79dc9c15' | t }}</div>
                        <div class="margin-top margin-small">
                          <div class="blog45_author-wrapper">
                            <div class="blog45_author-image-wrapper"><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="{{ 'team-6-p-500.jpeg' | asset_url }} 500w, {{ 'team-6-p-800.jpeg' | asset_url }} 800w, {{ 'team-6-p-1080.jpeg' | asset_url }} 1080w, {{ 'team-6.jpeg' | asset_url }} 1600w" alt="" src="{{ 'team-6.jpeg' | asset_url }}" loading="eager" class="blog45_author-image"></div>
                            <div class="blog45_author-text">
                              <div class="text-size-small">{{ 'tn77e0bd6f' | t }}</div>
                              <div class="blog45_date-wrapper">
                                <div class="text-size-small">{{ 'tn65ba5c79' | t }}</div>
                                <div class="blog45_text-divider">{{ 't2022' | t }}</div>
                                <div class="text-size-small">{{ 'tn3941edd1' | t }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="margin-top margin-xxlarge">
                  <div class="button-group is-center">
                    <a href="#" class="button is-secondary w-button">{{ 't4b09c9c6' | t }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}