{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "68a0d25dd965e48cb2d5e602" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <main class="main-wrapper">
      <header class="section_header5 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="header5_content">
              <div class="padding-section-large">
                <div class="max-width-medium">
                  <div class="margin-vertical margin-small">
                    <h1 class="heading-style-h1 text-color-primary">{{ 't344cb471' | t }}<br></h1>
                  </div>
                  <p class="text-size-medium text-color-primary">{{ 'tn38043f5f' | t }}<br></p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="#" class="button-4 is-alternate w-button">{{ 't7f2746de' | t }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header5_background-image-wrapper">
          <div class="image-overlay-layer"></div><img alt="" src="{{ 'industry-trends_1industry-trends.webp' | asset_url }}" loading="eager" class="header5_background-image">
        </div>
      </header>
      <section class="section_layout358 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout358_component">
                <div class="w-layout-grid layout358_grid-list">
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 'tn7b16897f' | t }}</h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 't139d831' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 't6c46678' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'rise_of_smart_cities_1rise_of_smart_cities.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 't4adaa3d1' | t }}<br></h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 't4684eddb' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 't1858decf' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'growth_of_metaverse_1growth_of_metaverse.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 'tn33b1824b' | t }}<br></h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 'tn2f4f547b' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 't6acb02fd' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'increase_adoption_1increase_adoption.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 't5df36e17' | t }}<br></h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 'tn50351ca2' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 't31c7556b' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'hybrid_expansion_1hybrid_expansion.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 'tn3cac57ac' | t }}<br></h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 'tn798d5daa' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 'tn66361aca' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'demand_learning_1demand_learning.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-large">
                          <h3 class="heading-style-h3">{{ 'tn2b5cd802' | t }}<br></h3>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 't4d5117d' | t }}</h5>
                        </div>
                        <div class="margin-bottom margin-medium">
                          <p>{{ 'tn6bcfa3cc' | t }}</p>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                          <h5 class="heading-style-h5">{{ 'tn40971227' | t }}</h5>
                        </div>
                        <p>{{ 't19418475' | t }}<br></p>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img alt="" src="{{ 'data_driven_1data_driven.webp' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}