{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "68a0d34fa0924a58f9f991b9" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <main class="main-wrapper">
      <header class="section_header60 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="header60_component">
              <div class="padding-section-large">
                <div class="padding-xxhuge">
                  <div class="w-layout-grid header60_content">
                    <div class="header49_content-left">
                      <h1 class="heading-style-h1">{{ 't1fcd157b' | t }}</h1>
                    </div>
                    <div class="header49_content-right">
                      <div class="margin-bottom margin-xsmall">
                        <h5 class="heading-style-h5">{{ 't6589cbcd' | t }}</h5>
                      </div>
                      <p class="text-size-medium">{{ 'te4e416a' | t }}<br></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header60_background-image-wrapper">
          <div class="image-overlay-layer-dark"></div><img sizes="(max-width: 1921px) 100vw, 1921px" srcset="{{ 'nottingham-market-square-p-500.jpg' | asset_url }} 500w, {{ 'nottingham-market-square-p-800.jpg' | asset_url }} 800w, {{ 'nottingham-market-square-p-1080.jpg' | asset_url }} 1080w, {{ 'nottingham-market-square-p-1600.jpg' | asset_url }} 1600w, {{ 'nottingham-market-square.jpg' | asset_url }} 1921w" alt="" src="{{ 'nottingham-market-square.jpg' | asset_url }}" loading="eager" class="header60_background-image">
        </div>
      </header>
      <section class="section_layout364 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout364_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <h2 class="heading-style-h2">{{ 't37790d62' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 't5a33f438' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid layout364_grid-list">
                  <div class="w-layout-grid layout364_row">
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 't54b66f39' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't4ee85cc9' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 't2947090e' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't746b0323' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 't6864bcae' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 'tnd1ef74b' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't55b74d89' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 'tnd1f8af9' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't707e5ad7' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 't4a67c23a' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid layout364_row">
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 'tn284b97f3' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn115b9f9c' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 't22169cc7' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn7af6d855' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 't5cb492c3' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 'tn2cd6879e' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn1ad1412d' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 'tn1a0995a7' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't19a7c94c' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 'tn74543f81' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid layout364_row">
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 'tn6a64ce71' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't5f1a3205' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 't2ca5599c' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn6d99f92b' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 't1d13120c' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 't5e7adf34' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't7a68b8e5' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 'tn66384abc' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tabc68ac' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 'tn59b22ac9' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid layout364_row">
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 't257e9290' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn14a3d9bb' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 'tn3106d24f' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn61263606' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 't345793ea' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout364_card">
                      <div class="layout364_card-content">
                        <div class="layout364_card-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout364_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h4 class="heading-style-h4">
                              <a href="#">{{ 't3a75674e' | t }}</a><br>
                            </h4>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 't1329678d' | t }}</a>
                            </h5>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <p>
                              <a href="#">{{ 'tn8415e80' | t }}</a>
                            </p>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h5 class="heading-style-h5">
                              <a href="#">{{ 'tn38cbc621' | t }}</a>
                            </h5>
                          </div>
                          <p>
                            <a href="#">{{ 'tn57120367' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout401 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout401_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 't311cdb12' | t }}</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid layout401_grid-list">
                  <div id="w-node-_1b02c1b4-145f-b1fb-aeb2-5d88b5dfe7fc-f9f991b9" class="w-layout-grid layout401_row">
                    <div class="layout401_card">
                      <div class="layout401_card-content">
                        <div class="layout401_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <div class="layout401_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">
                              <a href="#">{{ 'tn1f49fa7c' | t }}</a><br>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn6c90a6f9' | t }}<br>{{ 't200d' | t }}<br>{{ 't6b30871e' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout401_card">
                      <div class="layout401_card-content">
                        <div class="layout401_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <div class="layout401_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">
                              <a href="#">{{ 'tn71420657' | t }}</a><br>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn3a07f381' | t }}<br><br>{{ 't55c2d57b' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout401_card">
                      <div class="layout401_card-content">
                        <div class="layout401_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <div class="layout401_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">
                              <a href="#">{{ 't4450b164' | t }}</a><br>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn1ded7fe1' | t }}<br><br>{{ 'tn14304b3a' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="layout401_card">
                      <div class="layout401_card-content">
                        <div class="layout401_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <div class="layout401_item-icon-wrapper">
                              <div class="icon-1x1-medium w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                                  <path fill="#f1f1fd" d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"></path>
                                </svg></div>
                            </div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">
                              <a href="#">{{ 'tn7f84deb7' | t }}</a><br>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn13e1be16' | t }}<br><br>{{ 'tn566c3464' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="margin-top margin-large">
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h3">{{ 'tfa0ee3f' | t }}</h3>
                  </div>
                  <p class="text-size-medium">{{ 't26db207d' | t }}<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_poc_images color-scheme-tvd"><img alt="" src="{{ 'poc-1.webp' | asset_url }}" loading="lazy"><img alt="" src="{{ 'poc-2.webp' | asset_url }}" loading="lazy"></section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}