{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "68a0c36118a230e5ff65b1ce" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <main class="main-wrapper">
      <header class="section_header5 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="header5_content">
              <div class="padding-section-large">
                <div class="max-width-medium">
                  <div class="margin-vertical margin-small">
                    <h1 class="heading-style-h1 text-color-primary">{{ 't323e340b' | t }}</h1>
                  </div>
                  <p class="text-size-medium text-color-primary">{{ 'tndc2b394' | t }}</p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="#" class="button-4 is-alternate w-button">{{ 't7f2746de' | t }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header5_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'metaverse-p-500.jpg' | asset_url }} 500w, {{ 'metaverse-p-800.jpg' | asset_url }} 800w, {{ 'metaverse.jpg' | asset_url }} 1024w" alt="" src="{{ 'metaverse.jpg' | asset_url }}" loading="eager" class="header5_background-image">
        </div>
      </header>
      <section class="section_digital-twin-cities_features color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_features_component">
                <div class="w-layout-grid digital-twin-cities_features_content">
                  <div class="digital-twin-cities_features_image-wrapper"><img alt="" src="{{ 'aspredia_80s.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features_image"></div>
                  <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f88202-ff65b1ce" class="digital-twin-cities_features_content-right">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h3">{{ 't437cab4f' | t }}</h2>
                    </div>
                    <div class="margin-bottom">
                      <p class="text-size-medium">{{ 'tn3317a79d' | t }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_digital-twin-cities_features-list color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_features-list_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 't13deb6e8' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 'tneee66e2' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 'tn525f4b24' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid digital-twin-cities_features-list_grid-list">
                  <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f8821a-ff65b1ce" class="w-layout-grid digital-twin-cities_features-list_row">
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f8821c-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-real-time-interactivity.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 't2c126427' | t }}</h3>
                          </div>
                          <p>{{ 't671a7e53' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f88226-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-multi-platform.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn41b38673' | t }}</h3>
                          </div>
                          <p>{{ 't28605a9' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f88230-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-custom-environments.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn8691d35' | t }}</h3>
                          </div>
                          <p>{{ 't2875793b' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f8823a-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-social-spaces.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn2e6e1a7b' | t }}</h3>
                          </div>
                          <p>{{ 'tn6c74a20c' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f88244-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-ai-characters.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn479c8522' | t }}</h3>
                          </div>
                          <p>{{ 't7d537998' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f8824e-ff65b1ce" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'im-evolving-worlds.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn4a2c42c4' | t }}</h3>
                          </div>
                          <p>{{ 'tn69bc9fcf' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout237 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout237_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 't13deb6e8' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 'tn7e0cad48' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 't3a959af' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid layout237_list">
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e22c2d3862e0f095b17_urban-planning.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 'tn8ae110e' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 't4adc6ce7' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e227e4270f96109206a_education.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 't661d8788' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tn4180522a' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e22ce0d8199433500b4_film.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 't60e2a968' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tn7703d435' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e2217259701cbaf4db1_tourism.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 't1f9b870b' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 't56f3b38f' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e2217259701cbaf4db1_tourism.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 'tn783cbab7' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tn451c20db' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e222e78034c099af6a9_real-estate.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 't2c38700e' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tnde03296' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e22b4ecaf963dba6b6f_law-order.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 'tn648f166a' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tn1c0a4b8b' | t }}</a>
                    </p>
                  </div>
                  <div class="layout237_item">
                    <div class="margin-bottom margin-small">
                      <div class="layout237_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e223a0129d66e80a3b9_conference-trade.svg" alt="" class="icon-1x1-medium"></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h3 class="heading-style-h4">
                        <a href="#">{{ 'tn3d668a44' | t }}</a>
                      </h3>
                    </div>
                    <p>
                      <a href="#">{{ 'tn4c0e3a11' | t }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout505 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout505_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 'tn79c7e898' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h3">{{ 't66e1939d' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 't499c5d9f' | t }}</p>
                    </div>
                  </div>
                </div>
                <div data-duration-in="400" data-duration-out="200" data-current="Tab 1" data-easing="ease" class="layout505_tabs w-tabs">
                  <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f882dc-ff65b1ce" class="layout505_tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 1" class="layout505_tab-link w-inline-block w-tab-link w--current">
                      <h3 class="heading-style-h5">{{ 'tn7692644c' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 2" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 't18d3de9a' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 3" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn38cbc621' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 4" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn62cf2a17' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 5" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 't590baa53' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 6" class="layout505_tab-link tab-last w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 't19479d90' | t }}</h3>
                    </a>
                  </div>
                  <div class="layout505_tabs-content w-tab-content">
                    <div data-w-tab="Tab 1" class="layout505_tab-pane w-tab-pane w--tab-active">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407f8d04789b3e87a7c9_user-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn46dfe3cd' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't8de4fca' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 2" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407fa4c6f5e5f30a8609_city-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 't5a35e66c' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't2fb43db6' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 3" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407f42d8ecddf84796e1_users-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn21da94da' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't18aca95b' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 4" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407fe339edfdd58ea1bf_money-bills-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn35364deb' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't58704ea3' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 5" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407ff0340c7ec055605f_bullhorn-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 't79e609b7' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't4336a132' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 6" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6774407f624c236bfd296515_gamepad-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn2a13bdc' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 't1ed7e0c3' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout410 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="margin-bottom margin-xxlarge">
                <div class="text-align-center">
                  <div class="max-width-large align-center">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline">{{ 't13deb6e8' | t }}</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">{{ 'tn22e2bf65' | t }}</h2>
                    </div>
                    <p class="text-size-medium">{{ 't64276eb9' | t }}</p>
                  </div>
                </div>
              </div>
              <div class="w-layout-grid layout410_component">
                <div class="layout410_card card-1">
                  <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f8834f-ff65b1ce" class="layout410_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'im-world-building_1-p-500.jpg' | asset_url }} 500w, {{ 'im-world-building_1-p-800.jpg' | asset_url }} 800w, {{ 'im-world-building_1im-world-building.jpg' | asset_url }} 1024w" alt="" src="{{ 'im-world-building_1im-world-building.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn50385296' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn4114ffd' | t }}</h3>
                      </div>
                      <p class="text-size-small-4"><strong>{{ 'tn380eec35' | t }}</strong>{{ 't1f9c3e82' | t }}<br>{{ 't200d' | t }}<strong>{{ 't4e78a8cb' | t }}</strong>{{ 'tn5984a6' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-2">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 'tn57113e61' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn4e1c1c26' | t }}</h3>
                      </div>
                      <p class="text-size-small-4"><strong>{{ 'tn380eec35' | t }}</strong>{{ 't704fa9f7' | t }}<br>{{ 't200d' | t }}<strong>{{ 't4e78a8cb' | t }}</strong>{{ 'tn70e8ee2d' | t }}</p>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'im-integrating-characters_1-p-500.jpg' | asset_url }} 500w, {{ 'im-integrating-characters_1-p-800.jpg' | asset_url }} 800w, {{ 'im-integrating-characters_1im-integrating-characters.jpg' | asset_url }} 1024w" alt="" src="{{ 'im-integrating-characters_1im-integrating-characters.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
                <div class="layout410_card card-3">
                  <div id="w-node-b9d337bc-5711-27cc-022c-ac5d04f88377-ff65b1ce" class="layout410_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'im-user-access_1-p-500.jpg' | asset_url }} 500w, {{ 'im-user-access_1-p-800.jpg' | asset_url }} 800w, {{ 'im-user-access_1im-user-access.jpg' | asset_url }} 1024w" alt="" src="{{ 'im-user-access_1im-user-access.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 't15bb67d8' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn1d8f7363' | t }}</h3>
                      </div>
                      <p class="text-size-small-4"><strong>{{ 'tn380eec35' | t }}</strong>{{ 'tn1ec38e68' | t }}<br>{{ 't200d' | t }}<strong>{{ 't4e78a8cb' | t }}</strong>{{ 't23f92efd' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="layout410_card card-4">
                  <div class="layout410_card-content">
                    <div class="layout410_card-content-top">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="text-style-tagline">{{ 't50ac481a' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h3">{{ 'tn3ffc6406' | t }}</h3>
                      </div>
                      <p class="text-size-small-4"><strong>{{ 'tn380eec35' | t }}</strong>{{ 'tn4b75b644' | t }}<br>{{ 't200d' | t }}<strong>{{ 't4e78a8cb' | t }}</strong>{{ 'tn11689bab' | t }}</p>
                    </div>
                  </div>
                  <div class="layout410_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'im-simulation_1-p-500.jpg' | asset_url }} 500w, {{ 'im-simulation_1-p-800.jpg' | asset_url }} 800w, {{ 'im-simulation_1im-simulation.jpg' | asset_url }} 1024w" alt="" src="{{ 'im-simulation_1im-simulation.jpg' | asset_url }}" loading="lazy" class="layout410_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_digital-twin-cities_faq color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_faq_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 't20d03d' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 'tn462dfc1e' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid digital-twin-cities_faq_content">
                  <div class="w-layout-grid digital-twin-cities_faq_list">
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883ae" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn1728ad1f' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn74b3c9fa' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883b8" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn6935fea7' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn69a9f747' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883c2" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn4197c89' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tncc1a135' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883cc" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't4e06396f' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn68cc1c6a' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883d6" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't3f55377e' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn7acd573b' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid digital-twin-cities_faq_list">
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883e1" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn1d49a90a' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't38242851' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883eb" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn2322ac45' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't20591343' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883f5" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't42c4c93a' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't6880f951' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f883ff" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't275e0f6d' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn1e14ce40' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="b9d337bc-5711-27cc-022c-ac5d04f88409" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn77f13d38' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't2c1616df' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}