{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "68a0c6a1d9abe6be945ca37d" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <main class="main-wrapper">
      <header class="section_header30 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="header30_content">
              <div class="padding-section-large">
                <div class="text-align-center">
                  <div class="max-width-large align-center">
                    <div class="margin-bottom margin-small">
                      <h1 class="heading-style-h1 text-color-primary">{{ 't1495a30d' | t }}</h1>
                    </div>
                    <p class="text-size-medium text-color-primary">{{ 'tn3623c401' | t }}</p>
                    <div class="margin-top margin-medium">
                      <div class="button-group is-center">
                        <a href="#" class="button-4 is-alternate w-button">{{ 't7f2746de' | t }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header30_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'urban-planning-management-p-500.jpg' | asset_url }} 500w, {{ 'urban-planning-management-p-800.jpg' | asset_url }} 800w, {{ 'urban-planning-management.jpg' | asset_url }} 1024w" alt="" src="{{ 'urban-planning-management.jpg' | asset_url }}" loading="eager" class="header30_background-image">
        </div>
      </header>
      <section class="section_digital-twin-cities_features color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_features_component">
                <div class="w-layout-grid digital-twin-cities_features_content">
                  <div class="digital-twin-cities_features_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'urban-planning-management-p-500.jpg' | asset_url }} 500w, {{ 'urban-planning-management-p-800.jpg' | asset_url }} 800w, {{ 'urban-planning-management.jpg' | asset_url }} 1024w" alt="" src="{{ 'urban-planning-management.jpg' | asset_url }}" loading="lazy" class="digital-twin-cities_features_image"></div>
                  <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f214e-945ca37d" class="digital-twin-cities_features_content-right">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h3">{{ 'tn7ca6149f' | t }}</h2>
                    </div>
                    <div class="margin-bottom">
                      <p class="text-size-medium">{{ 't6266d61d' | t }}<strong>{{ 'td501959' | t }}</strong>{{ 'tn3e0b483d' | t }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_digital-twin-cities_features-list color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_features-list_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 'tn7ca6149f' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 't1cd7b342' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 'tn13abfb82' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid digital-twin-cities_features-list_grid-list">
                  <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f2169-945ca37d" class="w-layout-grid digital-twin-cities_features-list_row">
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f216b-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-planning-challenges.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn3c1447ad' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 'tn6a1fa8dc' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f2175-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-challenge-traffic.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 't37f94883' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 't1fad4580' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f217f-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-challege-emergency.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tbb4d4b0' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 'tn3547a0b9' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f2189-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-challenge-maintenance.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn1ae335a' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 't7cec5866' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f2193-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-challenge-climate.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 'tn129d3f4' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 't594ad558' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_features-list_card">
                      <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f219d-945ca37d" class="digital-twin-cities_features-list_card-image-wrapper"><img alt="" src="{{ 'urban-challenge-engagement.webp' | asset_url }}" loading="lazy" class="digital-twin-cities_features-list_card-image"></div>
                      <div class="digital-twin-cities_features-list_card-content">
                        <div class="digital-twin-cities_features-list_card-content-top">
                          <div class="margin-bottom margin-xsmall">
                            <h3 class="heading-style-h5">{{ 't7000b4dd' | t }}</h3>
                          </div>
                          <p class="text-size-tiny">{{ 'tn7d8a0ba3' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout253 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout253_component">
                <div class="w-layout-grid layout253_content">
                  <div class="layout253_content-left">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline">{{ 'tn7ca6149f' | t }}</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">{{ 'tn1c9456d6' | t }}</h2>
                    </div>
                    <p class="text-size-medium">{{ 'tnf5d7194' | t }}</p>
                  </div>
                  <div class="w-layout-grid layout253_list">
                    <div class="layout253_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout253_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03fa2f96cd0f8c43a81_database-solid.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 'tn2cd6879e' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 't68bb885a' | t }}</a>
                      </p>
                    </div>
                    <div class="layout253_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout253_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd1906cb8affffe49f7_chart-line-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 't43664f8b' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 't443a1c03' | t }}</a>
                      </p>
                    </div>
                    <div class="layout253_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout253_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd04efe6077af0ee565_cubes-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 't2293deda' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 'tn5e6e2491' | t }}<br></a>
                      </p>
                    </div>
                    <div class="layout253_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout253_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd06529b20dd35e9cb9_road-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 't1b360b29' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 'tn5afdb998' | t }}<br></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="margin-top margin-medium">
                <div class="layout233_component">
                  <div class="w-layout-grid layout233_list">
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03f084bb8b479bf6a09_leaf-solid.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 'tn273db95a' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 't11a8beec' | t }}<br></a>
                      </p>
                    </div>
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd00dbd130e1fcf185d_truck-medical-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 'tbb4d4b0' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 'tn2c6b8bf9' | t }}<br></a>
                      </p>
                    </div>
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd072f981235e35a181_people-group-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 'tn117d0b2' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 'tn5926061a' | t }}<br></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="margin-top margin-medium">
                <div class="layout233_component">
                  <div class="w-layout-grid layout233_list">
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6775bfd097573ca47f88fa9f_train-tram-solid-light.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 't2077c7e2' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 't6c174636' | t }}<br></a>
                      </p>
                    </div>
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e2217259701cbaf4db1_tourism.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 't4a5f4732' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 'tn255b4c2f' | t }}<br></a>
                      </p>
                    </div>
                    <div class="layout233_item">
                      <div class="margin-bottom margin-small">
                        <div class="layout233_item-icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/67732e227e4270f96109206a_education.svg" alt="" class="icon-1x1-medium"></div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3 class="heading-style-h4">
                          <a href="#">{{ 'tn42b38c84' | t }}</a>
                        </h3>
                      </div>
                      <p>
                        <a href="#">{{ 't787447b7' | t }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout505 color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout505_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 'tn7ca6149f' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h3">{{ 'tn5e186b42' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 't32c87949' | t }}</p>
                    </div>
                  </div>
                </div>
                <div data-duration-in="400" data-duration-out="200" data-current="Tab 1" data-easing="ease" class="layout505_tabs w-tabs">
                  <div id="w-node-_246a3aa9-76ef-d088-fad5-4ca60d3f2242-945ca37d" class="layout505_tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 1" class="layout505_tab-link w-inline-block w-tab-link w--current">
                      <h3 class="heading-style-h5">{{ 'tn3c9f668b' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 2" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn6b7c0c32' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 3" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn1b991a2e' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 4" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn1baefe39' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 5" class="layout505_tab-link w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 'tn68532ab4' | t }}</h3>
                    </a>
                    <a data-w-tab="Tab 6" class="layout505_tab-link tab-last w-inline-block w-tab-link">
                      <h3 class="heading-style-h5">{{ 't19479d90' | t }}</h3>
                    </a>
                  </div>
                  <div class="layout505_tabs-content w-tab-content">
                    <div data-w-tab="Tab 1" class="layout505_tab-pane w-tab-pane w--tab-active">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03f8f9d17dcb8d01dbb_ruler-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 't29c32ba7' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn29c4e2a2' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 2" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03fa2f96cd0f8c43a81_database-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn2cd6879e' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn36ff4585' | t }}<br></a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 3" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03fa9f25be6c4a40a8b_screwdriver-wrench-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn2198df96' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn5d8295a0' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 4" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03f084bb8b479bf6a09_leaf-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn273db95a' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn36ff4585' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 5" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03fa04772d588949bff_traffic-light-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 't4a534f08' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn51cae384' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 6" class="layout505_tab-pane w-tab-pane">
                      <div class="layout505_tab-content">
                        <div class="layout505_tab-content-top">
                          <div class="margin-bottom margin-small">
                            <div class="layout505_icon-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/6771578d86aa61c0b526655e/6773d03f3013e060f08cbc29_piggy-bank-solid.svg" alt="" class="icon-1x1-medium"></div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h3 class="heading-style-h3">
                              <a href="#">{{ 'tn2b525db1' | t }}</a>
                            </h3>
                          </div>
                          <p>
                            <a href="#">{{ 'tn2353d17e' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_layout358 color-scheme-tvd">
        <div class="padding-global background-color-secondary">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout358_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">{{ 'tn7bdea51f' | t }}</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 'tn35cb82d5' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 't32563f42' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid layout358_grid-list">
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 't28fc0343' | t }}</h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 'tn32906502' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 'tn36d4b8e2' | t }}</li>
                            <li>{{ 'tn34a03450' | t }}</li>
                            <li>{{ 'tn78668218' | t }}</li>
                            <li>{{ 'tn748aa327' | t }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-traffic-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-traffic-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-traffic.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-traffic.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 'tn29e03a17' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 'tn3f04ef3e' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 't4e046392' | t }}</li>
                            <li>{{ 'tn73aa77ea' | t }}</li>
                            <li>{{ 'tn6cdc46ef' | t }}</li>
                            <li>{{ 'tn26024c4b' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-sustainability-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-sustainability-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-sustainability.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-sustainability.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 't7170c3df' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 't7c281e39' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 'tn5d765273' | t }}</li>
                            <li>{{ 'tn4d302ab0' | t }}</li>
                            <li>{{ 't5aab9c78' | t }}</li>
                            <li>{{ 't4bd1338e' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-resource-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-resource-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-resource.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-resource.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 'tn2a63a566' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 't603fb3a' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 't2752c721' | t }}</li>
                            <li>{{ 't4d6d8dc6' | t }}</li>
                            <li>{{ 't9d5cb27' | t }}</li>
                            <li>{{ 'tn534c71be' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-planning-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-planning-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-planning.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-planning.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 't1601c69c' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 'tn5413f934' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 'tn5de7c04e' | t }}</li>
                            <li>{{ 'tn7a1fb85e' | t }}</li>
                            <li>{{ 'tn3ab27f85' | t }}</li>
                            <li>{{ 'tn534c71be' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-disaster-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-disaster-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-disaster.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-disaster.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 't2744537' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 'tn1897fea6' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 't197306e3' | t }}</li>
                            <li>{{ 't2a67927d' | t }}</li>
                            <li>{{ 'tn4af8f788' | t }}</li>
                            <li>{{ 't29acb5e2' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-transport-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-transport-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-transport.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-transport.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 'tn3f15ad12' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 'tnf8b04ce' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 'tn1247032' | t }}</li>
                            <li>{{ 'tn28d97ed7' | t }}</li>
                            <li>{{ 'tn2075f41e' | t }}</li>
                            <li>{{ 'tn30dfcea0' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-growth-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-growth-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-growth.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-growth.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                  <div class="layout358_card">
                    <div class="layout358_card-content">
                      <div class="layout358_card-content-top">
                        <div class="margin-bottom margin-xxsmall text-color-primary">
                          <div class="tag is-text">{{ 'tn10932597' | t }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h3 class="heading-style-h4">{{ 't21d7da24' | t }}<br></h3>
                          <div class="margin-vertical margin-small">
                            <h6 class="heading-style-h6">{{ 'tn381a0a65' | t }}</h6>
                            <p class="text-size-small-4">{{ 't5dc0c857' | t }}</p>
                          </div>
                          <h6 class="heading-style-h6">{{ 'tn6aec5365' | t }}</h6>
                          <ul role="list" class="text-size-small-4 margin-vertical margin-0">
                            <li>{{ 't6d522ee5' | t }}</li>
                            <li>{{ 't204c0a7b' | t }}</li>
                            <li>{{ 't738fa4e8' | t }}</li>
                            <li>{{ 't3bbf10ed' | t }}<br></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="layout358_image-wrapper"><img sizes="(max-width: 1024px) 100vw, 1024px" srcset="{{ 'uc-urban-energy-p-500.jpg' | asset_url }} 500w, {{ 'uc-urban-energy-p-800.jpg' | asset_url }} 800w, {{ 'uc-urban-energy.jpg' | asset_url }} 1024w" alt="" src="{{ 'uc-urban-energy.jpg' | asset_url }}" loading="lazy" class="layout358_image"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_digital-twin-cities_faq color-scheme-tvd">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="digital-twin-cities_faq_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">{{ 't20d03d' | t }}</h2>
                      </div>
                      <p class="text-size-medium">{{ 'tn226ccd2f' | t }}</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid digital-twin-cities_faq_content">
                  <div class="w-layout-grid digital-twin-cities_faq_list">
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23ac" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn4f79f896' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn3528d7c4' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23b6" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn391b1e11' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't44a18074' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23c0" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn2182cbb' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn2e07c418' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23ca" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn6ad52ece' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't428f718f' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23d4" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn2fead148' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't3997b7bd' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid digital-twin-cities_faq_list">
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23df" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't7bbfa0a6' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't5a4ef7d2' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23e9" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't59cdb9cc' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 't5850a2c' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23f3" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't1c376993' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn1a3a88f8' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f23fd" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 't6d773a00' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tce00838' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="digital-twin-cities_faq_accordion">
                      <div data-w-id="246a3aa9-76ef-d088-fad5-4ca60d3f2407" class="digital-twin-cities_faq_question">
                        <div class="text-size-medium text-weight-bold">{{ 'tn3d4ae3eb' | t }}</div>
                        <div class="digital-twin-cities_faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="width:100%;height:0px" class="digital-twin-cities_faq_answer">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn4e922163' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}