{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "68b30bfca6dae8bd34e5666f" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'navbar' -%}
    <header class="section_product-header1">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-medium">
            <div class="product-header1_component">
              <div class="margin-bottom margin-small">
                <div class="breadcrumb_component">
                  <a href="#" class="breadcrumb-link w-inline-block">
                    <div>{{ 'tn10d22669' | t }}</div>
                  </a>
                  <div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                    </svg></div>
                  <a href="#" class="breadcrumb-link w-inline-block">
                    <div>{{ 't6dd211e' | t }}</div>
                  </a>
                  <div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                    </svg></div>
                  <a href="#" class="breadcrumb-link w-inline-block">
                    <div>{{ 't42c9af3c' | t }}</div>
                  </a>
                </div>
              </div>
              <div class="w-layout-grid product-header1_layout">
                <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6a3-34e5666f" class="product-header1_gallery">
                  <a href="#" id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6a4-34e5666f" class="product-header1_lightbox-link w-inline-block w-lightbox">
                    <div class="product-header1_image-wrapper"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" loading="lazy" class="product-header1_image" data-commerce-type="variation-image" srcset="{{ product.featured_image | img_url: '1920x' }} 1920w,{{ product.featured_image | img_url: '1600x' }} 1600w,{{ product.featured_image | img_url: '1366x' }} 1366w,{{ product.featured_image | img_url: '1024x' }} 1024w,{{ product.featured_image | img_url: '768x' }} 768w,{{ product.featured_image | img_url: '640x' }} 640w"></div>
                    <script type="application/json" class="w-json">{"items":[],"group":""}</script>
                  </a>
                  <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6a7-34e5666f" class="product-header1_list-wrapper hide-mobile-landscape">
                    <div class="product-header1_list">
                      <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6a9-34e5666f" class="product-header1_item">
                        <a href="#" class="product-header1_lightbox-link w-inline-block w-lightbox">
                          <div class="product-header1_image-wrapper"><img loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/6243807090316203124aee66_placeholder-image.svg" alt="" class="product-header1_image"></div>
                          <script type="application/json" class="w-json">{"items":[{"type":"image","url":"{{ product.selected_or_first_available_variant }}","caption":""}],"group":""}</script>
                        </a>
                      </div>
                      <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6ad-34e5666f" class="product-header1_item">
                        <a href="#" class="product-header1_lightbox-link w-inline-block w-lightbox">
                          <div class="product-header1_image-wrapper"><img loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/6243807090316203124aee66_placeholder-image.svg" alt="" class="product-header1_image"></div>
                          <script type="application/json" class="w-json">{"items":[{"type":"image","url":"{{ product.selected_or_first_available_variant }}","caption":""}],"group":""}</script>
                        </a>
                      </div>
                      <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6b1-34e5666f" class="product-header1_item">
                        <a href="#" class="product-header1_lightbox-link w-inline-block w-lightbox">
                          <div class="product-header1_image-wrapper"><img loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/6243807090316203124aee66_placeholder-image.svg" alt="" class="product-header1_image"></div>
                          <script type="application/json" class="w-json">{"items":[{"type":"image","url":"{{ product.selected_or_first_available_variant }}","caption":""}],"group":""}</script>
                        </a>
                      </div>
                      <div id="w-node-c9ba05d5-15e0-cfd6-aacd-102d9bb6d6b5-34e5666f" class="product-header1_item">
                        <a href="#" class="product-header1_lightbox-link w-inline-block w-lightbox">
                          <div class="product-header1_image-wrapper"><img loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/6243807090316203124aee66_placeholder-image.svg" alt="" class="product-header1_image"></div>
                          <script type="application/json" class="w-json">{"items":[{"type":"image","url":"{{ product.selected_or_first_available_variant }}","caption":""}],"group":""}</script>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-header1_product-details">
                  <div class="margin-bottom margin-xxsmall">
                    <h1 class="heading-style-h3">{{ product.title }}</h1>
                  </div>
                  <div class="margin-bottom margin-small">
                    <div class="heading-style-h5">{{ 't8dc4' | t }}</div>
                  </div>
                  <div class="margin-bottom margin-small">
                    <div class="product-header1_reviews-wrapper">
                      <div class="product-header1_rating-wrapper">
                        <div class="product-header1_rating-icon">
                          <div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path>
                            </svg></div>
                        </div>
                        <div class="product-header1_rating-icon">
                          <div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path>
                            </svg></div>
                        </div>
                        <div class="product-header1_rating-icon">
                          <div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path>
                            </svg></div>
                        </div>
                        <div class="product-header1_rating-icon">
                          <div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999ZM14.1087 16.56L12.9918 11.88L16.6517 8.74999L11.8549 8.36999L9.99999 3.90999V14.05L14.1087 16.56Z" fill="CurrentColor"></path>
                            </svg></div>
                        </div>
                        <div class="product-header1_rating-icon">
                          <div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989ZM16.6517 8.74999L11.8549 8.36999L9.99999 3.90999L8.14509 8.36999L3.3483 8.74999L7.00822 11.88L5.88132 16.56L9.99999 14.05L14.1087 16.56L12.9918 11.88L16.6517 8.74999Z" fill="CurrentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="text-size-small-4">{{ 't5aed5a02' | t }}</div>
                    </div>
                  </div>
                  <div class="margin-bottom margin-small">
                    <p>{{ product.metafields.udesly['description'] }}</p>
                  </div>
                  <div class="product-header1_add-to-cart w-form">
                    {%- form "contact",  class: "product-header1_default-state" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
                      <div class="product-header1_option-list">
                        <div class="product-header1_option">
                          <div class="form_field-label">{{ 't7155a865' | t }}</div>
                          <div class="form-select-wrapper"><select id="field" name="contact[field]" data-name="Field" class="form_input is-select-input w-select">
                              <option value="">{{ 'tn6c9bdee4' | t }}</option>
                              <option value="Option One">{{ 'tn37671bc5' | t }}</option>
                              <option value="Option Two">{{ 'tn376707df' | t }}</option>
                              <option value="Option Three">{{ 't634ba33' | t }}</option>
                            </select></div>
                        </div>
                        <div class="product-header1_option">
                          <div class="form_field-label">{{ 't7155a865' | t }}</div>
                          <div class="variant-button-row">
                            <a href="#" class="variant-button is-active w-button">{{ 'tn3766a3a5' | t }}</a>
                            <a href="#" class="variant-button w-button">{{ 'tn37668fbf' | t }}</a>
                            <a href="#" class="variant-button is-disabled w-button">{{ 't7f7aa53' | t }}</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-header1_option">
                        <div class="form_field-label">{{ 'tn48bd3755' | t }}</div><input class="form_input is-quantity-input w-input" maxlength="256" name="contact[quantity]" data-name="Quantity" placeholder="{{ 't31' | t }}" type="number" id="Quantity">
                      </div>
                      <a href="#" class="button-4 is-add-to-cart-button w-button">{{ 'tn26af42fa' | t }}</a>
                      <a href="#" class="button-4 is-secondary is-buy-now-button w-button">{{ 't71bb9a1c' | t }}</a>
                      <div class="text-align-center">
                        <div class="text-size-tiny">{{ 't76941611' | t }}</div>
                      </div>
                    {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                    <div class="out-of-stock-state w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                      <div>{{ 't5a0ea5a1' | t }}</div>
                    </div>
                    {%- unless form_success -%}<div class="error-state w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                      <div>{%- render "form-errors", form_errors: form_errors -%}</div>
                    </div>{%- endunless -%}
                  </div>
                  <div class="product-header1_accordion-wrapper">
                    <div class="product-header1_accordion">
                      <div data-w-id="c9ba05d5-15e0-cfd6-aacd-102d9bb6d6f7" class="product-header1_heading">
                        <div class="text-weight-semibold text-size-medium">{{ 'tn3fee75de' | t }}</div>
                        <div class="product-header1_accordion-icon">
                          <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M7.08691 9.02344C7.18774 9.02344 7.26471 9.05385 7.34277 9.13184L11.6455 13.459L11.999 13.8145L16.6816 9.13184C16.7593 9.05424 16.8257 9.03227 16.9062 9.03516C17.0005 9.0386 17.0819 9.07117 17.168 9.15723C17.246 9.23531 17.2764 9.31223 17.2764 9.41309C17.2763 9.51371 17.2458 9.59001 17.168 9.66797L12.249 14.5869C12.1949 14.6411 12.1522 14.667 12.124 14.6787C12.0885 14.6935 12.0486 14.7021 12 14.7021C11.9755 14.7021 11.9532 14.6993 11.9326 14.6953L11.875 14.6787L11.8223 14.6484C11.8015 14.634 11.7779 14.6138 11.751 14.5869L6.80664 9.64355C6.7328 9.56972 6.70662 9.50009 6.70996 9.40527C6.71375 9.29797 6.74977 9.2141 6.83203 9.13184C6.90996 9.05403 6.98632 9.02351 7.08691 9.02344Z" fill="currentColor" stroke="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="height:0px" class="product-header1_details">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn5286fc08' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="product-header1_accordion">
                      <div data-w-id="c9ba05d5-15e0-cfd6-aacd-102d9bb6d701" class="product-header1_heading">
                        <div class="text-weight-semibold text-size-medium">{{ 'tn1aeabe32' | t }}</div>
                        <div class="product-header1_accordion-icon">
                          <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M7.08691 9.02344C7.18774 9.02344 7.26471 9.05385 7.34277 9.13184L11.6455 13.459L11.999 13.8145L16.6816 9.13184C16.7593 9.05424 16.8257 9.03227 16.9062 9.03516C17.0005 9.0386 17.0819 9.07117 17.168 9.15723C17.246 9.23531 17.2764 9.31223 17.2764 9.41309C17.2763 9.51371 17.2458 9.59001 17.168 9.66797L12.249 14.5869C12.1949 14.6411 12.1522 14.667 12.124 14.6787C12.0885 14.6935 12.0486 14.7021 12 14.7021C11.9755 14.7021 11.9532 14.6993 11.9326 14.6953L11.875 14.6787L11.8223 14.6484C11.8015 14.634 11.7779 14.6138 11.751 14.5869L6.80664 9.64355C6.7328 9.56972 6.70662 9.50009 6.70996 9.40527C6.71375 9.29797 6.74977 9.2141 6.83203 9.13184C6.90996 9.05403 6.98632 9.02351 7.08691 9.02344Z" fill="currentColor" stroke="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="height:0px" class="product-header1_details">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn5286fc08' | t }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="product-header1_accordion">
                      <div data-w-id="c9ba05d5-15e0-cfd6-aacd-102d9bb6d70b" class="product-header1_heading">
                        <div class="text-weight-semibold text-size-medium">{{ 'tn5b4dfedd' | t }}</div>
                        <div class="product-header1_accordion-icon">
                          <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M7.08691 9.02344C7.18774 9.02344 7.26471 9.05385 7.34277 9.13184L11.6455 13.459L11.999 13.8145L16.6816 9.13184C16.7593 9.05424 16.8257 9.03227 16.9062 9.03516C17.0005 9.0386 17.0819 9.07117 17.168 9.15723C17.246 9.23531 17.2764 9.31223 17.2764 9.41309C17.2763 9.51371 17.2458 9.59001 17.168 9.66797L12.249 14.5869C12.1949 14.6411 12.1522 14.667 12.124 14.6787C12.0885 14.6935 12.0486 14.7021 12 14.7021C11.9755 14.7021 11.9532 14.6993 11.9326 14.6953L11.875 14.6787L11.8223 14.6484C11.8015 14.634 11.7779 14.6138 11.751 14.5869L6.80664 9.64355C6.7328 9.56972 6.70662 9.50009 6.70996 9.40527C6.71375 9.29797 6.74977 9.2141 6.83203 9.13184C6.90996 9.05403 6.98632 9.02351 7.08691 9.02344Z" fill="currentColor" stroke="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div style="height:0px" class="product-header1_details">
                        <div class="margin-bottom margin-small">
                          <p>{{ 'tn5286fc08' | t }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=689f3928b5dee013c4afd942" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}